<%= form_with(model: info) do |form| %>
  <% if info.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
        <% info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.label :Nine_Hundred_Number, style: "display: block" %>
    <%= form.number_field :Nine_Hundred_Number %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.text_field :Email %>
  </div>

  <div>
    <%= form.label :Phone, style: "display: block" %>
    <%= form.number_field :Phone %>
  </div>

  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :Address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
