<div id="<%= dom_id info %>">
  <p>
    <strong>Name:</strong>
    <%= info.Name %>
  </p>

  <p>
    <strong>Nine hundred number:</strong>
    <%= info.Nine_Hundred_Number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= info.Email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= info.Phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= info.Address %>
  </p>

</div>
